@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");

:root {
    --main-dark-color: #040404;
    --secondary-dark-color: #232a3f;
    --main-fore-color: #e7e7e7;
    --secondary-fore-color: #858688;
    --dark-fore-color: var(--main-dark-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    outline: none;
    user-select: none;
}

body {
    background-color: var(--main-dark-color);
}
